@charset "UTF-8";
/*變數*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn {
  color: #333;
  padding: 10px 30px;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
  background-color: #E2E2E2;
  cursor: pointer;
  transition: 0.2s all ease;
  width: 84px;
}
.btn:hover {
  background-color: #B8B8B8;
}

.btn-lg {
  color: #333;
  padding: 10px 30px;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
  background-color: #E2E2E2;
  cursor: pointer;
  transition: 0.2s all ease;
  width: 110px;
}
.btn-lg:hover {
  background-color: #B8B8B8;
}

.btn-xxl {
  color: #333;
  padding: 10px 30px;
  border-radius: 8px;
  text-align: center;
  font-size: 12px;
  background-color: #E2E2E2;
  cursor: pointer;
  transition: 0.2s all ease;
  width: 150px;
}
.btn-xxl:hover {
  background-color: #B8B8B8;
}

body {
  font-size: 16px;
  font-family: "Microsoft JhengHei";
  margin: 0;
  padding: 0;
  color: #666;
  line-height: 1.3;
}

h1 {
  font-size: 50px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-size: 46px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-size: 38px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
  font-size: 30px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h5 {
  font-size: 26px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h6 {
  font-size: 18px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
  font-size: 12px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
  font-size: 14px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

[class*=col-],
.col {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.col-1 {
  width: 8.33333%;
  position: relative;
}

.col-2 {
  width: 16.66667%;
  position: relative;
}

.col-3 {
  width: 25%;
  position: relative;
}

.col-4 {
  width: 33.33333%;
  position: relative;
}

.col-5 {
  width: 41.66667%;
  position: relative;
}

.col-6 {
  width: 50%;
  position: relative;
}

.col-7 {
  width: 58.33333%;
  position: relative;
}

.col-8 {
  width: 66.66667%;
  position: relative;
}

.col-9 {
  width: 75%;
  position: relative;
}

.col-10 {
  width: 83.33333%;
  position: relative;
}

.col-11 {
  width: 91.66667%;
  position: relative;
}

.col-12 {
  width: 100%;
  position: relative;
}

@media all and (max-width: 996px) {
  .col-md-1 {
    width: 8.33333%;
    position: relative;
  }
  .col-md-2 {
    width: 16.66667%;
    position: relative;
  }
  .col-md-3 {
    width: 25%;
    position: relative;
  }
  .col-md-4 {
    width: 33.33333%;
    position: relative;
  }
  .col-md-5 {
    width: 41.66667%;
    position: relative;
  }
  .col-md-6 {
    width: 50%;
    position: relative;
  }
  .col-md-7 {
    width: 58.33333%;
    position: relative;
  }
  .col-md-8 {
    width: 66.66667%;
    position: relative;
  }
  .col-md-9 {
    width: 75%;
    position: relative;
  }
  .col-md-10 {
    width: 83.33333%;
    position: relative;
  }
  .col-md-11 {
    width: 91.66667%;
    position: relative;
  }
  .col-md-12 {
    width: 100%;
    position: relative;
  }
}
@media all and (max-width: 720px) {
  .col-sm-1 {
    width: 8.33333%;
    position: relative;
  }
  .col-sm-2 {
    width: 16.66667%;
    position: relative;
  }
  .col-sm-3 {
    width: 25%;
    position: relative;
  }
  .col-sm-4 {
    width: 33.33333%;
    position: relative;
  }
  .col-sm-5 {
    width: 41.66667%;
    position: relative;
  }
  .col-sm-6 {
    width: 50%;
    position: relative;
  }
  .col-sm-7 {
    width: 58.33333%;
    position: relative;
  }
  .col-sm-8 {
    width: 66.66667%;
    position: relative;
  }
  .col-sm-9 {
    width: 75%;
    position: relative;
  }
  .col-sm-10 {
    width: 83.33333%;
    position: relative;
  }
  .col-sm-11 {
    width: 91.66667%;
    position: relative;
  }
  .col-sm-12 {
    width: 100%;
    position: relative;
  }
}
/* --------------------------------------- */
.row-cols-1 .col {
  width: 100%;
}

.row-cols-2 .col {
  width: 50%;
}

.row-cols-3 .col {
  width: 33.3333%;
}

.row-cols-4 .col {
  width: 25%;
}

.row-cols-5 .col {
  width: 20%;
}

.row-cols-6 .col {
  width: 16.6667%;
}

@media screen and (min-width: 726px) {
  .row-cols-md-1 .col {
    width: 100%;
  }
  .row-cols-md-2 .col {
    width: 50%;
  }
  .row-cols-md-3 .col {
    width: 33.3333%;
  }
  .row-cols-md-4 .col {
    width: 25%;
  }
  .row-cols-md-5 .col {
    width: 20%;
  }
  .row-cols-md-6 .col {
    width: 16.6667%;
  }
}
@media screen and (min-width: 1024px) {
  .row-cols-lg-1 .col {
    width: 100%;
  }
  .row-cols-lg-2 .col {
    width: 50%;
  }
  .row-cols-lg-3 .col {
    width: 33.3333%;
  }
  .row-cols-lg-4 .col {
    width: 25%;
  }
  .row-cols-lg-5 .col {
    width: 20%;
  }
  .row-cols-lg-6 .col {
    width: 16.6667%;
  }
}
@media screen and (min-width: 1200px) {
  .row-cols-xl-1 .col {
    width: 100%;
  }
  .row-cols-xl-2 .col {
    width: 50%;
  }
  .row-cols-xl-3 .col {
    width: 33.3333%;
  }
  .row-cols-xl-4 .col {
    width: 25%;
  }
  .row-cols-xl-5 .col {
    width: 20%;
  }
  .row-cols-xl-6 .col {
    width: 16.6667%;
  }
}
header {
  width: 100%;
  background-color: #F5DE75;
}
header .wrapper_inner {
  width: 1200px;
  margin: 0 auto;
  height: 80px;
  display: flex;
}
header .wrapper_inner .logo {
  width: 95px;
  height: 50px;
  background-color: #bdff38;
}

.container {
  width: 100%;
}
.container .content .spec1 {
  width: 800px;
  margin: 0 auto;
  min-height: 184px;
}
@media all and (max-width: 996px) {
  .container .content .spec1 {
    width: 600px;
    margin: 0 auto;
  }
}
@media all and (max-width: 720px) {
  .container .content .spec1 {
    width: 80%;
    margin: 0 auto;
  }
}

.a1 {
  margin: 20px;
}

.spec {
  margin: auto;
  width: 300px;
  height: 400px;
  background-color: #eaff00;
}

.aa {
  margin: auto;
  width: 400px;
  height: 500px;
  background-color: #f20;
}

.area {
  background-color: #fd3d08;
  background-color: red;
}

span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.w1 {
  width: 1px;
}

.w2 {
  width: 2px;
}

.w3 {
  width: 3px;
}

.w4 {
  width: 4px;
}

.w5 {
  width: 5px;
}

.w6 {
  width: 6px;
}

.w7 {
  width: 7px;
}

.w8 {
  width: 8px;
}

.w9 {
  width: 9px;
}

.w10 {
  width: 10px;
}

.top10 {
  margin-top: 10px;
}

.top20 {
  margin-top: 20px;
}

.top30 {
  margin-top: 30px;
}

.top40 {
  margin-top: 40px;
}

.top50 {
  margin-top: 50px;
}

.top60 {
  margin-top: 60px;
}

.top70 {
  margin-top: 70px;
}

.top80 {
  margin-top: 80px;
}

.top90 {
  margin-top: 90px;
}

.top100 {
  margin-top: 100px;
}

.top110 {
  margin-top: 110px;
}

.top120 {
  margin-top: 120px;
}

.top130 {
  margin-top: 130px;
}

.top140 {
  margin-top: 140px;
}

.top150 {
  margin-top: 150px;
}

.top160 {
  margin-top: 160px;
}

.top170 {
  margin-top: 170px;
}

.top180 {
  margin-top: 180px;
}

.top190 {
  margin-top: 190px;
}

.top200 {
  margin-top: 200px;
}

.rect {
  width: 300px;
  height: 50px;
}

.lighten10 {
  background-color: #19ffbe;
}

.lighten20 {
  background-color: #32ffc5;
}

.lighten30 {
  background-color: #4cffcc;
}

.lighten40 {
  background-color: #65ffd3;
}

.lighten50 {
  background-color: #7fffdb;
}

.lighten60 {
  background-color: #98ffe2;
}

.lighten70 {
  background-color: #b2ffe9;
}

.lighten80 {
  background-color: #cbfff0;
}

.lighten90 {
  background-color: #e5fff7;
}

.lighten100 {
  background-color: #feffff;
}

.darken10 {
  background-color: #a4fbb3;
}

.darken20 {
  background-color: #8bfa9e;
}

.darken30 {
  background-color: #73f98a;
}

.darken40 {
  background-color: #5af875;
}

.darken50 {
  background-color: #42f761;
}

.darken60 {
  background-color: #2af54d;
}

.darken70 {
  background-color: #11f438;
}

.darken80 {
  background-color: #0ae22f;
}

.darken90 {
  background-color: #09c92a;
}

.darken100 {
  background-color: #08b125;
}

.rect1 {
  height: 150px;
}

.box10 {
  width: 150px;
  height: 140px;
  background-color: #f20;
  position: absolute;
  left: 100px;
  top: 40px;
}

.slider-a1 {
  background-image: url("./images/a1.jpg");
  background-repeat: repeat;
  width: 100%;
  background-size: cover;
}

.slider-a2 {
  background-image: url("./images/a2.jpg");
  background-repeat: repeat;
  width: 100%;
  background-size: cover;
}

.slider-a3 {
  background-image: url("./images/a3.jpg");
  background-repeat: repeat;
  width: 100%;
  background-size: cover;
}

.slider-b1 {
  background-image: url("./images/b1.jpg");
  background-repeat: repeat;
  width: 100%;
  background-size: cover;
}

.slider-b2 {
  background-image: url("./images/b2.jpg");
  background-repeat: repeat;
  width: 100%;
  background-size: cover;
}

.slider-b3 {
  background-image: url("./images/b3.jpg");
  background-repeat: repeat;
  width: 100%;
  background-size: cover;
}

.primary-bgc {
  background-color: #5188F6;
}

.primary-color {
  color: #5188F6;
}

.primary-btn {
  background-color: #5188F6;
  transition: 0.3s all ease;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: #0b4fd6;
}

.secondary-bgc {
  background-color: #9B5AF6;
}

.secondary-color {
  color: #9B5AF6;
}

.secondary-btn {
  background-color: #9B5AF6;
  transition: 0.3s all ease;
  cursor: pointer;
}
.secondary-btn:hover {
  background-color: #640cde;
}

.success-bgc {
  background-color: #22C55E;
}

.success-color {
  color: #22C55E;
}

.success-btn {
  background-color: #22C55E;
  transition: 0.3s all ease;
  cursor: pointer;
}
.success-btn:hover {
  background-color: #136e34;
}

.warning-bgc {
  background-color: #F59E0B;
}

.warning-color {
  color: #F59E0B;
}

.warning-btn {
  background-color: #F59E0B;
  transition: 0.3s all ease;
  cursor: pointer;
}
.warning-btn:hover {
  background-color: #945f06;
}

.error-bgc {
  background-color: #ef4444;
}

.error-color {
  color: #ef4444;
}

.error-btn {
  background-color: #ef4444;
  transition: 0.3s all ease;
  cursor: pointer;
}
.error-btn:hover {
  background-color: #bd1010;
}

.border-radius-1 {
  border-radius: 4px;
}

.border-radius-2 {
  border-radius: 8px;
}

.border-radius-3 {
  border-radius: 12px;
}

.border-radius-4 {
  border-radius: 16px;
}

.border-radius-5 {
  border-radius: 20px;
}

.border-radius-6 {
  border-radius: 24px;
}

.border-radius-7 {
  border-radius: 28px;
}

.border-radius-8 {
  border-radius: 32px;
}

.border-radius-9 {
  border-radius: 36px;
}

.border-radius-10 {
  border-radius: 40px;
}

/*# sourceMappingURL=style.css.map */
