//  vonder
// @import "../node_modules/bootstrap/scss/bootstrap.scss";


//base
@import "base/var";
@import "base/reset";
@import "base/color";
@import "base/font";
@import "base/spacing";

// mixin 
@import "mixin/mixins";

// component
@import "component/btn";
@import "component/input";
@import "component/body";
@import "component/title";


// layout
@import "layout/header";
@import "layout/footer";
@import "layout/banner";
@import "layout/login";
@import "layout/cart";


// page

@import "page/index";
@import "page/about";


.a1 {
  margin: $a;
}

// .wrapper h1 {

//   font-size:50px

// }


// .container {
//   .wrapper {
//     width: 1200px;
//     margin: 0 auto;

//     h1 {
//       font-size: 50px;
//     }

//     nav {
//       width: 100%;

//       &::before {
//         content: "";
//       }

//       //偽元素

//       ul {
//         list-style: none;
//         display: flex;

//         li {
//           min-width: 120px;
//           background-color: #e4e4e4;

//           a {
//             color: #fa1212;
//             text-decoration: none;

//             &:hover {
//               color: rgb(255, 174, 0)
//             }
//           }
//         }
//       }
//     }

//     .content {
//       .btn {
//         padding: 10px;
//         text-align: center;
//         max-width: 200px;
//         cursor: pointer;

//         &-blue {
//           background-color: #0004f6;
//           transition: .3s all ease;
//           color: #fff;

//           &:hover {
//             background-color: #001d7d;
//           }
//         }

//         &-red {
//           background-color: #f20;
//           color: #fff;
//         }

//         &-yellow {
//           background-color: rgb(246, 255, 0);
//           color: #fff;
//         }
//       }
//     }
//   }
// }



.spec {
  @include center(300px);
  height: 400px;
  background-color: #eaff00;
}

.aa {
  @include center(400px);
  height: 500px;
  background-color: #f20;

}

//單位 在做運算時要注意
// .w {
//   width: 10 + 10 +px;
//   height: 100 - 10px;
//   margin: 100 * 100 + px;
//   // font: (100 / 10) + px;
// }






.area {
  @include bgc(red);
  background-color: red;
}




span {
  @include fontstyle(en);

}


// for 


@for $i from 1 through 10 {
  .w#{$i} {
    width: $i + px;
  }
}



@mixin space($s , $dir: top) {
  @for $i from 1 through $s {
    .#{$dir}#{$i * 10} {
      margin-#{$dir}: $i * 10px;
    }
  }
}


@include space(20);


.rect {
  width: 300px;
  height: 50px;
}

// // color 
@for $i from 1 through 10 {
  .lighten#{$i * 10} {
    background-color: lighten(#f100b1, $i * 5);
  }
}

// .dark {
//   color: darken(#fff , 50);
// }

// .lighten {
//   color: lighten(#000 , 100)
// }