//====  字體大小  ====

// 標題字大小
$title-1 : 52px;
$title-2 : 42px;
$title-3 : 28px;
$title-4 : 20px;

//內容文字
$fontsize : 20px; //數值


//字形
//中文字
$fontFamily_tw : "Microsoft JhengHei"; //字串

//英文字
$fontFamily_en : "Microsoft JhengHei"; //字串