body {
    font-size: $fontsize;
    font-family: $fontFamily_tw;
    margin: $margin;
    padding: 0;
    color: $fontColor;
    background-color: rgb(171, 255, 162);
    font-weight: null; //null 刪除屬性
  }
  