// 小數點後五位 

@function prec($value , $p: 7) {
  $f : pow(10, $p);
  @return round($value * $f) / $f
};
@mixin center($w) {
    margin: auto;
    width: $w;
  }


  @mixin layout($w) {
    @if $w ==100 {
      width: 100%;
    }
  
    @else {
      width: $w;
      margin: 0 auto;
    }
  }
  
// 按鈕
  @mixin btn(){
    color : #333;
    padding: 10px 30px; 
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    background-color: #E2E2E2;
    cursor: pointer;
    transition: .2s all ease;
    &:hover {
     background-color: #B8B8B8;
    }
 }

//平板
@mixin t(){
  @media  all and (max-width : $tablet_breakpoint){
   @content
  }
};

@mixin m(){
  @media  all and (max-width : $mobile_breakpoint){
   @content
  }
};


@mixin fontstyle($fontfmaily : zh){
     
  @if $fontfmaily == "zh"{
      font-family:"微軟正黑";
  }@else if $fontfmaily == "en" {
      font-family:Verdana, Geneva, Tahoma, sans-serif
  }
}


@mixin bgc($color:black){
  @if $color ==yellow {
    background-color: rgb(255, 205, 5);
  }

  @else if $color ==black {
    background-color: #333;
  }
  @else if $color ==red {
    background-color: #fd3d08;
  }

}


// space 
@mixin space($s) {
  @for $i from 1 through $s {
    .top#{$i * 10} {
      margin-top: $i * 10px;
    }

    .left#{$i * 10} {
      margin-left: $i * 10px;
    }

    .right#{$i * 10} {
      margin-right: $i * 10px;
    }

    .bottom#{$i * 10} {
      margin-bottom: $i * 10px;
    }
  }
}


// color
@mixin color_l($color) {
  @for $i from 1 through 10 {
    .lighten#{$i * 10} {
      background-color: lighten($color, $i * 5);
    }
  }
}


@mixin color_d($color) {
  @for $i from 1 through 10 {
    .darken#{$i * 10} {
      background-color: darken($color, $i * 5);
    }
  }
}





//   grid system
@mixin grid($col , $name : null) {
  @for $i from 1 through $col {
      @if $name == null {
          .col-#{$i} {
              width: prec($i / $col) * 100%;
              position: relative;
          }
      }
      @else {
          .col-#{$name}-#{$i} {
              width: prec($i / $col) * 100%;
              position: relative;
          }
      }
  }
}


